<div class="container">
    <div class="row" style="margin-top:5%;">
        <div class="col-md-12" >
            <div class="row">
                <div class="col-md-5">
                    <img src="../../../../assets/images/about_car_img.jpg" class="img-fluid about_img"  alt="">
                </div>
                <div class="col-md-7 about_body">
                    <p class="about_body_header display-5 text-center fst-italic">About</p>
                    <p class="fs-5">
                        <span class="text-danger fst-italic"><b>Car For You</b></span> providing professional & friendly car hire services for you to explore the City of Bratislava.
                        Affordable & reliable, our fleet includes a wide range of vehicles to meet your requirements including pick-up & drop-off at the airport, ports or your location. 
                    </p>
                    <div class="about_author d-flex justify-content-between">
                        <div class="about_author_info mt-4">
                            <p><span class="text-danger"><b>Author & Admin:</b></span><span style="margin-left:10px;"><b>Eduard Erhart</b></span></p>
                            <p><span class="text-danger"><b>Contact number:</b></span><span style="margin-left:10px;"><b>+380950912869</b></span></p>
                            <p><span class="text-danger"><b>Email:</b></span><span style="margin-left:10px;"><b>edik.ergart2017@gmail.com</b></span></p>
                            <a routerLink="/title-page" class="btn btn-danger">View title page</a>
                        </div>
                        <div>
                            <img  class="about_author_info_img" src="../../../../assets/images/about_background_img.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>