<div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="rules_header">
                <h1 class="text-center text-danger">RULES AND RIGHTS</h1>
            </div>
            <div class="rules_body mt-4">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed text-primary fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            1. The price depends on the year of manufacture of the car
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <strong>The table of price dependences on the year of manufacture of the machine.</strong>
                          <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>Years</td>
                                    <td>Addition money for years</td>
                                </tr>                                
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1980-1990</td>
                                    <td>Standard  price</td>
                                </tr>
                                <tr>
                                    <td>1990-2000</td>
                                    <td>+ 100$</td>
                                </tr>
                                <tr>
                                    <td>2000-2005</td>
                                    <td>+ 200$</td>
                                </tr>
                                <tr>
                                    <td>2005-2010</td>
                                    <td>+ 400$</td>
                                </tr>
                                <tr>
                                    <td>20010-2015</td>
                                    <td>+ 600$</td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed text-primary fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          2. Regular customer
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body d-flex justify-content-between">
                            <div class="rule_description">
                                <strong>Regular customer - a person who purchases products or services from a person or business frequently.</strong>
                                <ul>
                                    <li>Regular customers have a 3% discount on the car rental price and 5% on the purchase of a car.</li>
                                    <li>You can become a regular customer after three car rentals.</li>
                                </ul>
                            </div>
                            <div>
                                <img src="../../../../assets/images/rule_discount_image.jpg" class="rule_description_img" alt="">
                            </div>                                                                                                                                      
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed text-primary fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                         3. Penalties
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Penalties due to delayed return of the car and damage to the vehicle.</strong>
                            <ul>
                                <li>For a delay of one day 1000$</li>
                                <li>Full refund for damage + 1000$. <span class="text-danger"><b>Be careful with car.</b></span></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>