<div class="container">
    <div class="row mt-5 text-center">
        <div class="col-md-12">
            <h6>Bratislava University of Economics and Managment</h6>
        </div>
        <div class="col-md-12 mt-5">
            <h1>Coursework</h1>
        </div>
        <div class="col-md-12">
            <h5>Summer school</h5>
        </div>
        <div class="col-md-12 mt-2">
            <h4 class="fst-italic text-danger">"Car rental service"</h4>
        </div>
        <div class="col-md-12 mt-5">
            <span class="fs-5"><b>Student:</b> Eduard Erhart</span>
        </div>
    </div>
</div>