<header class="p-3 text-bg-dark " style=" border-bottom: 3px solid silver; ">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
      <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <a routerLink="/" href="" class="text-decoration-none d-flex">
          <img src="../../../assets/images/carLogo.png" class="me-3" style="width:80px" alt="">
          <h3 class="text-danger fst-italic">Car  For  You</h3>
        </a>
      </div>

      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
      </form> -->

      <div class="text-end">
        <a  routerLink="/login" class="btn btn-outline-light me-2">Login</a>
        <a  routerLink="/regist"  class="btn btn-warning">Sign-up</a>
      </div>
    </div>
  </div>
</header>